:root {
    --font-color: rgb(255, 175, 0);
  }

.image-container {
    margin-bottom: 50px;
}

body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
}

.full-screen-div {
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.half-screen-div {
    min-height: 60vh;
    width: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#alternating-div-1 {
    background-color: rgb(235, 235, 235);
    color: black;
    box-shadow: 0 4px 6px -2px rgba(0, 0, 0, 0.1);
}

#alternating-div-2 {
    opacity: 0; 
    transition: opacity 1s;
    box-shadow: 0 4px 6px -2px rgba(163, 163, 163, 0.1);
}

img.rounded-circle {
    width: 325px;
    height: 325px;
    border: 6px solid black;
}

.typewriter {
    font-size: calc(1.3em + 3vw);
}

#typed-output {
    color: var(--font-color);
}

.image, #learn-more, .typewriter {
    text-align: center;
}

#learn-more {
    opacity: 0;
    transition: opacity 1.5s; 
}

#about-me-card {
    padding-top: 50px;
    padding-bottom: 50px;
    max-width: 90%;
    position: relative;
}

#about-me {
    background-color: black;
    border-radius: .25rem;
    color: white;
    padding: 12px;
    font-weight: bold;
    font-size: .75em + 3vw;
    top: 14px;
    position: relative;
    z-index: 2;
}

#about-me-body {
    padding-top: 30px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    box-shadow: 0 4px 6px -2px rgba(0, 0, 0, 0.1);
    z-index: 1;
    color: gray;
}

.cursor {
    color: var(--font-color);
    animation: blink 0.8s infinite;
}

.work-experience, .education {
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#education-container {
    padding-top: 50px;
    padding-bottom: 50px;
    max-width: 90%;
    position: relative;
}
.education-card {
    margin-top: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: white;
    position: relative;
    border: 1px solid rgba(0,0,0,.125);
    box-shadow: 0 4px 6px -2px rgba(0, 0, 0, 0.1);
    border-radius: .25rem;
    color: gray;
}

.gpa {
    padding-top: 2px;
    text-align: left;
}

.college-title {
    color: rgb(255, 175, 0);
}

#title {
    background-color: black;
    color: white;
    padding: 20px 10vw 20px 10vw;
    font-weight: bold;
    font-size: 1em + 3vw;
    border-radius: .25rem;
}

@keyframes blink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

@media (min-width: 768px) {
    #about-me-card {
        max-width: 70vw;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .image-container {
        margin-bottom: 0px;
    }

    .gpa {
        text-align: right;
    }
}
